<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="top.zjjacky.mapper.UserMapper">

    <select id="queryUserList" resultType="User">
        select * from user
    </select>

    <select id="queryUserListById" resultType="User">
        select * from user where id = #{id}
    </select>

    <select id="addUser" parameterType="User">
        insert into user (id,username,password) values (#{id},#{name},#{password})
    </select>

    <select id="updateUser" parameterType="User">
        update user set username=#{name},password=#{password} where id=#{id}
    </select>

    <select id="deleteUser" parameterType="int">
        delete from user where id=#{id}
    </select>
</mapper>